## 1. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [22]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 21 33 4 5 6
List :  ['21 33 4 5 6']

## 2. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [2]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 6
738

## 3. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [26]:
n = int(input("Enter the number: "))
if n<=17:
    print("The difference is: ",abs(17-n))
else:
    print("The difference is: ",(n-17)^2)

Enter the number: 55
The difference is:  36

## 4. Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [28]:
n = int(input("Enter the number: "))
if n in range(900,1100):
    print("The number lies in 100 of 1000.")
elif n in range(1900, 2100):
    print("The number lies in 100 of 2000.")
else:
    print("The number doesn't lies in the range.")

Enter the number: 999
The number lies in 100 of 1000.

## 5. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [34]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n3 = int(input("Enter the third number: "))

if n1 == n2 == n3:
    sum = sum*3
    print("The sum is: ",sum)
else:
    sum = n1+n2+n3
    print("The sum is: ",sum )

Enter the first number: 5
Enter the second number: 6
Enter the third number: 7
The sum is:  18

## 6.  Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [44]:
str = input("Enter the string: ")
if len(str) >= 2 and str[:2] == "Is" or "is":
    print("The string is: ",str)
else:
    print("The string is: ","Is " + str)

Enter the string: is
The string is:  is

## 7. Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [45]:
n = int(input("Enter a number: "))
if n%2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 21
The number is odd.

## 8. Write a Python program to concatenate all elements in a list into a string and return it.

In [46]:
lis = [12,33,45,67,88]
t = ""
for i in lis:
    t = t+str(i)
print(t)

1233456788

## 9. Write a Python program to compute the greatest common divisor (GCD) of two positive integers.

In [5]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD = gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:23
Enter second number:31
GCD is:
1

## 10. Write a Python program to get the least common multiple (LCM) of two positive integers.

In [9]:
def lcm(x, y):  
    if x > y:
        greater = x
    else:
        greater = y
 
    while True:
        if (greater % x == 0) and (greater % y == 0):
            lcm_result = greater
            break
        greater += 1
 
    return lcm_result
 

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter second number: "))
 
print("The L.C.M. of", num1, "and", num2, "is", lcm(num1, num2))

Enter the first number: 33
Enter second number: 34
The L.C.M. of 33 and 34 is 1122

## 11. Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [11]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))

sum = x+y

if sum in range(15,20):
    print("The number is: ",20)
else:
    print("The number is: ",sum)

Enter the first number: 11
Enter the second number: 8
The number is:  20

## 12. Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

In [19]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))

sum = x+y
dif = x-y

if x == y:
    print("true",end="")
elif sum == 5:
    print("true",end="")
elif dif == 5:
    print("true",end="")
else:
    print("false",end="")

Enter the first number: 9
Enter the second number: 4
true

## 13. Write a Python program to take the user information for n students details like name, age, address and print them on different lines.

In [9]:
list = ['Name','Age','Address']
list2 = []
n = int(input("Enter the number of records to be added: "))
for i in range(1,n+1):
    print("Enter the records of student",i,":")
    name = input("Name: ")
    age = input("Age: ")
    address = input("Address: ")
    list2.append([name,age,address])

for i in range(0,n):
    print("The details of Student", i, "is: \n Name is",list2[i][0],"\n Age is",list2[i][1],"\n Address is",list2[i][2])

Enter the number of records to be added: 2
Enter the records of student 1 :
Name: Sandipta
Age: 21
Address: Mumbai
Enter the records of student 2 :
Name: Jay Borodra
Age: 32
Address: Delhi
The details of Student 0 is:
 Name is Sandipta
 Age is 21
 Address is Mumbai
The details of Student 1 is:
 Name is Jay Borodra
 Age is 32
 Address is Delhi

## 14. Write a Python program to find the sum of array (hint take a list as array).

In [12]:
lst = []
n = int (input("Enter the number of elements: "))
for i in range(0,n):
    elm = int(input())
    lst.append(elm)
print(lst)
print("Sum of the list is: ",sum(lst))

Enter the number of elements: 5
12
13
14
15
16
[12, 13, 14, 15, 16]
Sum of the list is:  70

## 15. Write a Python program to imitate bank transactions like deposit, withdrawal and check balance.

In [13]:
print("Weclcome to HDFC Bank")
print("Transaction Withdrawl, Deposit and Check Balance")
acc = int(input("Enter your account enter number: "))
a = str(input("How may I help you Sir/Maam: "))
currbalance = 150000
ac = [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115]
if acc in ac:
    if a == "Deposit":
        n = int(input("Enter the ammount you want to dposit: "))
        def deposit(n,currbalance):
            return(currbalance + n)
        print("The currnt balance is: ",deposit(n,currbalance))
    elif a== "Withdrawl":
        m = int(input("Enter the value you want to withdrawl: "))
        def withdrawl(m,currbalance):
            return(currbalance-m)
            print("The current balance is: ",withdrawl(m,currbalance))
    else:
        print("The curret balance is: ",currbalance)
else:
    print("Please enter the right account number.")

Weclcome to HDFC Bank
Transaction Withdrawl, Deposit and Check Balance
Enter your account enter number: 191
How may I help you Sir/Maam: Deposit
Please enter the right account number.

## 16. Write a Python program to imitate login activity of a user also do its validation. (hint:-If user enters the wrong userid or password it should provide a message).

In [6]:
pwd = input("Enter your password: ")
c = len(pwd)
l = True
ucase = 0
lcase = 0
numb = 0
char = 0
for i in range(c):
    for j in range(65,91):
        CH = chr(j)
        if pwd[i] == CH:
            ucase = ucase+1
    for j in range(97,123):
        ch = chr(j)
        if pwd[i] == ch:
            lcase = lcase+1
    for j in range(0,10):
        num = str(j)
        if pwd[i] == num:
            numb = numb + 1
    for j in range(c):
        if pwd[j] == "@" or pwd[j] == "#" or pwd[j] == "$":
            char = char +1
            
if ucase > 0 and lcase > 0 and numb > 0 and char > 0 and c >= 6 and c<=16:
    print("Password is valid.")
else:
    print("Password is not valid.")

Enter your password: Sandipta
Password is not valid.

## 17. Write a Python program to imitate a shopping transaction where user purchase 5 notebooks of 20 rs each and 2 pens of 5 rs each. Show the total amount to be payable to the shopkeeper.

In [1]:
print("Welcome to D-mart.")
print("You have purchased 5 notebooks of 20rs each")
print("You have purchased 2 pens of 5rs each")
amt = 20*5 + 2*5
print("Your total amount is: ",amt,"Rs.")

Welcome to D-mart.
You have purchased 5 notebooks of 20rs each
You have purchased 2 pens of 5rs each
Your total amount is:  110 Rs.

## 18. Accept the age of the person and print an appropriate message as per the table given alongside:
##    Age                                   Message         
##    <=12                              You are child
##    13-19                             You are a teenager      
##    20-59                             You are an adult 
##    >= 60                             You are a senior citizen

In [36]:
age = int(input("Enter your age: "))
if age in range(0,13):
    print("You are child.")
elif age in range(13,20):
    print("You are teenager.")
elif age in range(20,59):
    print("You are adult.")
else:
    print("You are Senior Citizen.")

Enter your age: 88
You are Senior Citizen.

## 19. Accept the purchases made by a customer and calculate and print the discount payable by him. You are given that a discount of 10% is given on purchases greater than Rs. 3000/- and no discount is given for purchases below that.

In [38]:
n = int(input("Enter the amount to be payable: "))
if (n >= 3000):
    m = (10*n)/100
    n = n-m
    print("The total discount is: ",n)
    
else:
    print("The amount to be paid ",n)

Enter the amount to be payable: 3450
The total discount is:  3105.0

## 20. Accept the gross salary of an employee. Calculate and print the tax based on the given criteria.
##          Salary                                                                      Tax Rate        
##  Upto Rs.2,00,000                                                                  Nil       
##  2,00,001-5,00,000                                                                 10%        
##  Above 5,00,000                                                                     20%

In [2]:
n = int(input("Enter the salary: "))
if (n <= 200000):
    print("No taxe would be charged.")
elif n in range(20001,500000):
    m = (n*10)/100
    n = n-m
    print("After the tax paid ",m)
else:
    m = (n*20)/100
    n = n-m
    print("After the taxe paid ",m)

Enter the salary: 560000
After the taxe paid  112000.0

## 21. Scholarships are given to students on the following basis:
##     Percentage obtained                 Scholarship Amount 
##                     >=90                                             5000                                       
##                     >=80                                             1000                       

##                  Otherwise                                        Nil

In [3]:
n = int(input("Enter the percentage: "))
if n >= 90:
    print("You would get 5000 rs Scholarship Amount.")
elif n in range(80,90):
    print("You would get 1000 rs Scholarship Amount.")
else: 
    print("You would not get the scholarship.")

Enter the percentage: 91
You would get 5000 rs Scholarship Amount.

## 22. Accept the quantity of an item purchased and its price. Calculate the amount of purchase. If the amount exceeds Rs.5000, a discount of 20% is given otherwise the discount rate is 10%. Print the input values, the discount rate and amount, net amount to be paid by the customer.

In [4]:
n = int(input("Enter the amount: "))
if n >= 5000:
    m = (n*20)/100
    n = n-m
    print("The total amount paid: ",n)
elif n < 5000:
    m = (n*10)/100
    n = n-m
    print("The total amount paid: ",n)

Enter the amount: 5020
The total amount paid:  4016.0

## 23. Accept the marks obtained by the 5 students for subjects of Python, Statistics, Machine Learning, Deep Learning, Big-Data also all marks are out of 100. Find the sum and percentage of the for all students and display the name and marks of the first rank holder.

In [2]:
m = int(input("Enter the number of students who scored marks: "))
for i in range(0,m):
    m1 = int(input("Enter the marks in Python: "))
    m2 = int(input("Enter the marks in Machine Learning: "))
    m3 = int(input("Enter the marks in Deep Learning: "))
    m4 = int(input("Enter the marks in Big Data: "))
    m5 = int(input("Enter the marks in Statistics and Probability: "))
    percentage = ((m1+m2+m3+m4+m5)/500)*100
    print("Total percentage scored: ",percentage)

Enter the number of students who scored marks: 4
Enter the marks in Python: 56
Enter the marks in Machine Learning: 56
Enter the marks in Deep Learning: 66
Enter the marks in Big Data: 65
Enter the marks in Statistics and Probability: 65
Total percentage scored:  61.6
Enter the marks in Python: 56
Enter the marks in Machine Learning: 67
Enter the marks in Deep Learning: 78
Enter the marks in Big Data: 79
Enter the marks in Statistics and Probability: 90
Total percentage scored:  74.0
Enter the marks in Python: 87
Enter the marks in Machine Learning: 88
Enter the marks in Deep Learning: 89
Enter the marks in Big Data: 80
Enter the marks in Statistics and Probability: 90
Total percentage scored:  86.8
Enter the marks in Python: 98
Enter the marks in Machine Learning: 90
Enter the marks in Deep Learning: 99
Enter the marks in Big Data: 96
Enter the marks in Statistics and Probability: 78
Total percentage scored:  92.2

## 24. Given 2 int arrays, a and b, each length 3, return a new array length 2 containing their middle elements.
##           middle_way([1, 2, 3], [4, 5, 6]) → [2, 5]            
##           middle_way([7, 7, 7], [3, 8, 0]) → [7, 8]            
##           middle_way([5, 2, 9], [1, 4, 5]) → [2, 4]

## 25. Given an array of ints, return a new array length 2 containing the first and last elements from the original array. The original array will be length 1 or more.
##               make_ends([1, 2, 3]) → [1, 3]   
##               make_ends([1, 2, 3, 4]) → [1, 4]
##               make_ends([7, 4, 6, 2]) → [7, 2]

## 26. Write a Python program to find the Mean, Median and Mode of three user entered values.

In [6]:
n1 = int(input("Enter the first value: "))
n2 = int(input("Enter the second value: "))
n3 = int(input("Enter thr third value: "))
avg = (n1+n2+n3)/3
median = n2
null = 0
print("The mean is: ",avg)
print("The median is: ",median)

Enter the first value: 34
Enter the second value: 45
Enter thr third value: 56
The mean is:  45.0
The median is:  45
The mode is:  34
The mode is:  35
The mode is:  36
The mode is:  37
The mode is:  38
The mode is:  39
The mode is:  40
The mode is:  41
The mode is:  42
The mode is:  43
The mode is:  44
The mode is:  45
The mode is:  46
The mode is:  47
The mode is:  48
The mode is:  49
The mode is:  50
The mode is:  51
The mode is:  52
The mode is:  53
The mode is:  54
The mode is:  55

## 27. Write a Python program to check the validity of password input by users. Go to the editor Validation:
 ## a.    At least 1 letter between [a-z] and 1 letter between [A-Z]. 
 ## b.    At least 1 number between [0-9].

## c.    At least 1 character from [$#@].

## d.    Minimum length 6 characters

## e.  Maximum length 16 characters.

In [ ]:
pwd = input("Enter your password: ")
c = len(pwd)
l = True
ucase = 0
lcase = 0
numb = 0
char = 0
for i in range(c):
    for j in range(65,91):
        CH = chr(j)
        if pwd[i] == CH:
            ucase = ucase+1
    for j in range(97,123):
        ch = chr(j)
        if pwd[i] == ch:
            lcase = lcase+1
    for j in range(0,10):
        num = str(j)
        if pwd[i] == num:
            numb = numb + 1
    for j in range(c):
        if pwd[j] == "@" or pwd[j] == "#" or pwd[j] == "$":
            char = char +1
            
if ucase > 0 and lcase > 0 and numb > 0 and char > 0 and c >= 6 and c<=16:
    print("Password is valid.")
else:
    print("Password is not valid.")

## 28. Write a program to print the A using stars.

In [15]:
str1 = ""
for row in range(7):
    for col in range(5):
        if (col == 0 or col == 4) or ((row == 0 or row == 3) and (col>0 and col<4)):
            str1 = str1+"*"
        else:
            str1 = str1+" "
    str1 = str1+"\n"
print(str1)

*****
*   *
*   *
*****
*   *
*   *
*   *

## 29. Write a program to print the B using stars.

In [22]:
for row in range(7):
    for col in range(5):
        if (col == 0 or col == 4) or ((row == 0 or row == 3 or row == 6) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

## 30. Write a program to print the C using stars.

In [20]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*
*
*
*****

## 31. Write a program to print the D using stars.

In [26]:
for row in range(7):
    for col in range(5):
        if (col == 0) or (col == 4 and (row != 0 and row != 6)) or ((row == 0 or row == 6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

## 32. Write a program to print the E using stars.

In [28]:
for row in range(7):
    for col in range(5):
        if col == 0 or ((row == 0 or row == 3 or row == 6) and (col > 0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*****

## 33. Write a program to print the F using stars.

In [31]:
 for row in range(8):
        for col in range(5):
            if (col == 0 or (row == 0 or row == 3)):
                print("*",end="")
            else:
                print(end=" ")
        print()

*****
*
*
*****
*
*
*
*

## 34. Write a program to print the G using stars.

In [34]:
for row in range(7):
    for col in range(6):
        if(col == 0) or (col == 4 and (row !=1 and row !=2)) or ((row==0 or row==6) and (col>0 and col<4)) or (row == 3 and (col == 3 or col == 5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

## 35. Write a program to print the H using stars.

In [35]:
for row in range(7):
    for col in range(5):
        if(col == 0 or col == 4 or row == 3):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

## 36. Write a program to print the I using stars.

In [39]:
for row in range(7):
    for col in range(5):
        if(col == 2 or row == 0 or row == 6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
*****

## 37. Write a program to print the J using stars.

In [41]:
for row in range(7):
    for col in range(5):
        if(col == 2) or (row == 0 and col != 2) or (row == 6 and col < 2):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
***

## 38. Write a program to print the K using stars.

In [47]:
i = 0
j = 4
for row in range(7):
    for col in range(5):
        if col == 0 or (row == col+2 and col>1):
            print("*",end="")
        elif ((row == i and col == j) and col > 0):
            print("*", end= "")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

## 39. Write a program to print the L using stars.

In [48]:
for row in range(7):
    for col in range(5):
        if (col == 0 or row == 6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
*****

## 40. Write a program to print the M using stars.

In [50]:
for row in range(7):
    for col in range(7):
        if col == 0 or col == 6 or ((row == col) and (col>0 and col<4)) or (row == 1 and col == 5) or (row == 2 and col == 4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

## 41. Write a program to print the N using stars.

In [51]:
for row in range(6):
    for col in range(6):
        if col == 0 or col == 5 or (row == col and (col > 0 and col < 5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

## 42. Write a program to print the O using stars.

In [52]:
for row in range(7):
    for col in range(5):
        if((col == 0 or col == 4) and (row != 0 and row !=6)) or ((row == 0 or row == 6) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

## 43. Write a program to print the P using stars.

In [59]:
for row in range(7):
    for col in range(5):
        if col == 0 or (col == 4 and (row == 1 or row == 2)) or ((row == 0 or row == 3) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*
*
*

## 44. Write a program to print the Q using stars.

In [60]:
for row in range(8):
    for col in range(5):
        if ((col == 0 or col == 4) and (row > 0 and row < 6)) or ((row == 0 or row == 6) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

## 45. Write a program to print the R using stars.

In [61]:
for row in range(7):
    for col in range(5):
        if col == 0 or (col == 4 and (row != 0 and row != 3)) or ((row == 0 or row == 3) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
*   *

## 46. Write a program to print the S using stars.

In [62]:
for row in range(7):
    for col in range(5):
        if((row == 0 or row == 3 or row == 6) and (col > 0 and col <4)) or (col == 0 and (row > 0 and row <3)) or (col == 4 and (row > 3 and row <6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
 ***
    *
    *
 ***

## 47. Write a program to print the T using stars.

In [49]:
for row in range(7):
    for col in range(5):
        if(col == 2 or row == 0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
  *

## 48. Write a program to print the U using stars.

In [63]:
for row in range(7):
    for col in range(5):
        if((col == 0 or col == 4) and row != 6) or (row == 6 and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***

## 49. Write a program to print the V using stars.

In [69]:
i = 0
j = 6
for row in range(4):
    for col in range(7):
        if row == col:
            print("*",end="")
        elif row == i and col == j:
            print("*", end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *

## 50. Write a program to print the W using stars.

In [75]:
i = 0
j = 3
for row in range(4):
    for col in range(7):
        if col == 0 or col == 6 or (col == 5 and row == 2) or (col == 4 and row == 1):
            print("*",end="")
        elif row == i and col == j:
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*  *  *
* * * *
**   **
*     *

## 51. Write a program to print the X using stars.

In [73]:
i = 0
j = 4
for row in range(5):
    for col in range(5):
        if row == i and col == j:
            print("*",end="")
            i = i+1
            j = j-1
        elif  row == col:
            print("*", end="")
        else:
            print(end=" ")
    print()

*   *
 * *
  *
 * *
*   *

## 52. Write a program to print the Y using stars.

In [76]:
for row in range(5):
    for col in range(5):
        if(col == 2 and row > 1) or (row == col and col < 2) or (row == 0 and col == 4) or (row == 1 and col == 3):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
 * *
  *
  *
  *

## 53. Write a program to print the Z using stars.

In [78]:
i = 1
j = 4
for row in range(0,6):
    for col in range(0,6):
        if row == 0 or row == 5:
            print("*",end="")
        elif row == i and col == j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

******
    *
   *
  *
 *
******

## 54. Write a program to find the largest of two numbers without using function.

In [9]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the first number: "))

if (x1 > x2):
    print("The first is larger than second number.")
else:
    print("The second number is greater than first number.")

Enter the first number: 23
Enter the first number: 34
The second number is greater than first number.

## 55. Write a program to find the largest of three numbers without using functions.

In [17]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the second number: "))
x3 = int(input("Enter the third number: "))

if (x1 > x2 and x1 > x3):
    print("The first number is greater than second and third number.")
elif (x2 > x1 and x2 > x3):
    print("The second number is greater than first and third number.")
elif(x3 > x2 and x3 > x1):
    print("The third number is greater than first and second number. ")
else:
    print("Enter the correct numbers.")

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
The third number is greater than first and second number.

## 56. Write a program to find even and odd numbers from the given list.

In [21]:
list1 = [10, 21, 4, 45, 66, 93, 1] 
  
even_count, odd_count = 0, 0
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num % 2 == 0: 
        even_count += 1
  
    else: 
        odd_count += 1
          
print("Even numbers in the list: ", even_count) 
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

## 57. Write a program to append elements of various datatypes (total three elements 1 integer, 1 float and 1 string).

## 58. Write a program to illustrate the difference between append and extend functions in list.

## 59. Write a program to reverse a string input should be taken from the user.

In [1]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
    print(word[char], end="")
print("\n")

Input a word to reverse: Sandipta Subir Khare
erahK ribuS atpidnaS

## 60. Write a program to reverse a number input should be taken from the user.

In [4]:
Number = int(input("Please Enter any Number: "))    
Reverse = 0    
while(Number > 0):    
    Reminder = Number %10    
    Reverse = (Reverse *10) + Reminder    
    Number = Number //10    
     
print("\n Reverse of entered number is = %d" %Reverse)

Please Enter any Number: 12345

 Reverse of entered number is = 54321

## 61. Write a program using functions to create a calculator (only +, -, * and /) operations should be performed.

In [14]:
print("1 Addition")
print("2 Subtraction")
print("3 Multiplication")
print("4 Division")
print("5 Float Division")

m = int(input("Choose the option: "))

a = int(input("Enter the first value: "))
b = int(input("Enter the second value: "))

if (m == 1):
    sum = a+b
    print("The sum of two values: ",sum)
elif (m == 2):
    sub = a-b
    print("The substraction of two values: ",sub)
elif (m == 3):
    pro = a*b
    print("The product of the two values: ",pro)
elif (m == 4):
    div = a/b
    print("The division of the two values: ",div)
else:
    fldiv = a//b
    print("The float division of the two values: ",fldiv)

1 Addition
2 Subtraction
3 Multiplication
4 Division
5 Float Division
Choose the option: 1
Enter the first value: 21
Enter the second value: 21
The sum of two values:  42

## 62. Write a program to add all the elements in the list without using inbuilt function.

In [7]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Sum of elements in given list is :", sum(lst))

How many numbers: 5
Enter number 25
Enter number 35
Enter number 45
Enter number 55
Enter number 65
Sum of elements in given list is : 225

## 63. Write a program to take two lists from the user and add the element present at same index from two list and create a third list. for e.g. element at index 1 of list 1 should get added with element at index 1 of list 2 and so on.

## 64. Write a program to get whether the element is prime or not.

In [20]:
num = 11 
(num % i) == 0
print(num,"is a prime number")

11 is a prime number

## 65. Write a program to get the prime no up to n. n should be taken from the user.

In [16]:
num = int(input("Enter a number: "))  
  
if num > 1:  
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")  
            print(i,"times",num//i,"is",num)  
            break
        else:
            print(num,"is a prime number")  
    
else:
    print(num,"is not a prime number")

Enter a number: 560
560 is not a prime number
1 times 560 is 560

## 66. Write a program to find sum of first 10 natural number.

In [17]:
num = int(input("Enter the value of n: "))
hold = num
sum = 0

if num <= 0: 
    print("Enter a whole positive number!") 
else:
    while num > 0:
        sum = sum + num
        num = num - 1;
    # displaying output
    print("Sum of first", hold, "natural numbers is: ", sum)

Enter the value of n: 10
Sum of first 10 natural numbers is:  55

## 67. Write a program to find sum of first n natural no value of n should be taken from the user.

In [18]:
num = int(input("Enter the value of n: "))
hold = num
sum = 0

if num <= 0: 
    print("Enter a whole positive number!") 
else:
    while num > 0:
        sum = sum + num
        num = num - 1;
    # displaying output
    print("Sum of first", hold, "natural numbers is: ", sum)

Enter the value of n: 10
Sum of first 10 natural numbers is:  55

## 68. Write a program to calculate area of various shapes like circle, rectangle and square using function.

In [ ]:
m = input("Enter the Shape Name(Circle, Rectangle and Square): ")
pie = 3.14
if (m == circle):
    def circle(area):
        r = int(input("Enter the radius of the circle: "))
        area = pie*r*r
elif (m == )

## 69. Write a program to calculate Simple Interest using function. Take the values from the user for P, N, and R.

In [21]:
p = int(input("Enter the principle amount= "))
r = int(input("Enter the rate= "))
t = int(input("Enter the time= "))
si = (p*r*t)/100
print("The simple interest is: ",si)

Enter the principle amount= 20000
Enter the rate= 12
Enter the time= 23
The simple interest is:  55200.0

## 70. Write a program to calculate Compound Interest using function. Take the required parameter from the user.

In [22]:
def compound_interest(principle, rate, time):
    result = principle * (pow((1 + rate / 100), time))
    return result
 
 
p = float(input("Enter the principal amount: "))
r = float(input("Enter the interest rate: "))
t = float(input("Enter the time in years: "))
 
amount = compound_interest(p, r, t)
interest = amount - p
print("Compound amount is %.2f" % amount)
print("Compound interest is %.2f" % interest)

Enter the principal amount: 21000
Enter the interest rate: 21
Enter the time in years: 11
Compound amount is 170945.77
Compound interest is 149945.77

## 71. Write a program to convert temperature in degree to Celsius and vice-versa.

In [23]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
    result = int(round((9 * degree) / 5 + 32))
    o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
    result = int(round((degree - 32) * 5 / 9))
    o_convention = "Celsius"
else:
    print("Input proper convention.")
    quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 33F
The temperature in Celsius is 1 degrees.

## 72. Write a program to take the paise value from the user and convert it into rupee.

In [29]:
p = int(input("Enter the amount in paisa: "))
r = p/100
print("The total amount in ruppes: ",r)

Enter the amount in paisa: 2900
The total amount in ruppes:  29.0

## 73. Write a program to take a list from the user and find the cube and square root of every number in it.

In [ ]:
values = int(input("Enter the elements in list: "))
lst = value.split(,)
print("List",lst)
for i in range(values):

## 74. Write a program to find the Second Largest Number in a List?

## 75. Write a program to Swap the first and last value of a List?

## 76. Write a program to count the number of Vowels in a String?

In [30]:
string = input("Enter string:")
vowels = 0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are: ")
print(vowels)

Enter string:Sandipta Subir Khare
Number of vowels are:
7

## 77. Write a program to check common letters in two input String?

In [11]:
s1=input("Enter first string:")
s2=input("Enter second string:")
a=list(set(s1)&set(s2))
print("The common letters are:")
for i in a:
    print(i)

Enter first string:Sandipta Subir Khare
Enter second string:Subir Khare
The common letters are:
r
K
b
u
S
i

a
e
h

## 78. Write a program to check if a number is an Armstrong Number?

In [35]:
 num = int(input("Enter a number: "))  
sum = 0  
temp = num  
  
while temp > 0:  
   digit = temp % 10  
   sum += digit ** 3  
   temp //= 10  
  
if num == sum:  
   print(num,"is an Armstrong number")  
else:  
   print(num,"is not an Armstrong number")

Enter a number: 10
10 is not an Armstrong number

## 79. Write a program to print Table of given number.

In [36]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 100
100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000

## 80. Write a program to count the number of Digits in a number?

In [26]:
n = int(input("Enter the number: "))
d = 0
for i in n:
    if i.isdigit():
        d = d + 1
    else:
        break
        
        
print("Digit: ",d)

Enter the number: 345

TypeError: 'int' object is not iterable

## 81. Write a program to find sum of the digits of a number in python?

In [37]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

sum = a+b

print("The sum of two numbers are: ",sum)

Enter the first number: 21
Enter the second number: 21
The sum of two numbers are:  42

## 82. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [38]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

## 83. Write a Python program to convert temperatures to and from celsius, fahrenheit. [ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ].

In [39]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((9 * degree) / 5 + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 99F
The temperature in Celsius is 37 degrees.

## 84. Write a Python program that accepts a word from the user and reverse it.

In [40]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
    print(word[char], end="")
print("\n")

Input a word to reverse: SANDIPTA SUBIR KHARE
ERAHK RIBUS ATPIDNAS

## 85. Program to find the square root.

In [41]:
import math
number = int(input("enter a number:"))
sqrt = math.sqrt(number)
print("square root:" , sqrt)

enter a number:13
square root: 3.605551275463989

## 86. Program to calculate the area of a triangle.

In [42]:
L = int(input("Enter the lenght of the triangle: "))
H = int(input("Enter the hieght of the triangle: "))
area = 1/2*(L*H)
print("Area of the Triangle is: ", area)

Enter the lenght of the triangle: 21
Enter the hieght of the triangle: 23
Area of the Triangle is:  241.5

## 87. Program to solve Quadratic Equation.

In [43]:
from math import sqrt

print("Quadratic function : (a * x^2) + b*x + c")
a = float(input("a: "))
b = float(input("b: "))
c = float(input("c: "))

r = b**2 - 4*a*c

if r > 0:
    num_roots = 2
    x1 = (((-b) + sqrt(r))/(2*a))     
    x2 = (((-b) - sqrt(r))/(2*a))
    print("There are 2 roots: %f and %f" % (x1, x2))
elif r == 0:
    num_roots = 1
    x = (-b) / 2*a
    print("There is one root: ", x)
else:
    num_roots = 0
    print("No roots, discriminant < 0.")
    exit()

Quadratic function : (a * x^2) + b*x + c
a: 123
b: 234
c: 345
No roots, discriminant < 0.

## 88. Program to swap Two Variables.

In [1]:
a = int(input("Enter the number: "))
b = int(input("Enter the number: "))
print("\nBefore swap a = %d and b = %d" %(a, b))
a, b = b, a
print("\nAfter swaping a = %d and b = %d" %(a, b))
print()

Enter the number: 21
Enter the number: 23

Before swap a = 21 and b = 23

After swaping a = 23 and b = 21

## 89. Program to generate a random number.

In [2]:
import random

for x in range(100):
    print(random.randrange(x, 100), end=' ')

80 48 7 9 12 75 31 38 92 39 74 12 20 51 40 30 73 55 85 64 31 30 30 78 57 71 31 39 75 54 56 55 88 35 73 54 38 99 46 67 82 98 87 99 88 59 69 64 51 66 92 78 62 59 88 58 69 67 64 74 60 73 74 90 82 77 96 78 76 92 73 79 73 85 96 77 91 80 82 82 91 92 82 90 91 93 99 90 91 97 90 93 99 99 97 95 96 97 99 99

## 90. Program to convert kilometers to Miles.

In [3]:
KM = int(input("Enter the value in Kilometers: "))

ratio = 0.621371

mi = KM*ratio

print("The entered value in miles: ",mi)

Enter the value in Kilometers: 21
The entered value in miles:  13.048791

## 91. Program to find the largest among three numbers.

In [4]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if (a>b):
    print("The first number is greater.")
elif (b>c):
    print("The second number is greater.")
else:
    print("The third number is greater.")

Enter the first number: 21
Enter the second number: 23
Enter the third number: 24
The third number is greater.

## 92.  Program to check leap year.

In [5]:
year = int(input("Enter a year: "))  
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))  
        else:  
            print("{0} is not a leap year".format(year))  
    else:  
        print("{0} is a leap year".format(year))  
else:  
    print("{0} is not a leap year".format(year))

Enter a year: 1998
1998 is not a leap year

## 93. Program to check if a number is positive, negative or 0.

In [6]:
a = int(input("Enter the number: "))
if(a>0):
    print("The number is postive number.",a)
elif(a<0):
    print("The number is negative number.",a)
else:
    print("The number is 0.",a)

Enter the number: 11
The number is postive number. 11

## 94. Program to check prime number.

In [12]:
num = int(input("Enter a number: "))  
  
if num > 1:  
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")  
            print(i,"times",num//i,"is",num)  
            break
        else:
            print(num,"is a prime number")  
    
else:
    print(num,"is not a prime number")

Enter a number: 21
21 is a prime number
21 is not a prime number
3 times 7 is 21

## 95. Program to check prime numbers in an interval.

In [13]:
num = int(input("Enter a number: "))  
  
if num > 1:  
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")  
            print(i,"times",num//i,"is",num)  
            break
        else:
            print(num,"is a prime number")  
    
else:
    print(num,"is not a prime number")

Enter a number: 34
34 is not a prime number
2 times 17 is 34

## 96. Program to find the factorial of a number.

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## 97. Program to display the multiplication table.

In [15]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

## 98. Program to find Armstrong Number in an interval.

In [16]:
 num = int(input("Enter a number: "))  
sum = 0  
temp = num  
  
while temp > 0:  
   digit = temp % 10  
   sum += digit ** 3  
   temp //= 10  
  
if num == sum:  
   print(num,"is an Armstrong number")  
else:  
   print(num,"is not an Armstrong number")

Enter a number: 100
100 is not an Armstrong number

## 99. Program to find the sum of Natural Numbers.

In [17]:
n = int(input("Input a number: "))
sum_num = (n * (n + 1)) / 2
print(sum_num)

Input a number: 100
5050.0

## 100. Program to find factors of Number.

In [18]:
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)
num = int(input("Enter the number: "))
print_factors(num)

Enter the number: 21
The factors of 21 are:
1
3
7
21

## 101. Program to make a Simple Calculator.

In [19]:
print("1 Addition")
print("2 Subtraction")
print("3 Multiplication")
print("4 Division")
print("5 Float Division")

m = int(input("Choose the option: "))

a = int(input("Enter the first value: "))
b = int(input("Enter the second value: "))

if (m == 1):
    sum = a+b
    print("The sum of two values: ",sum)
elif (m == 2):
    sub = a-b
    print("The substraction of two values: ",sub)
elif (m == 3):
    pro = a*b
    print("The product of the two values: ",pro)
elif (m == 4):
    div = a/b
    print("The division of the two values: ",div)
else:
    fldiv = a//b
    print("The float division of the two values: ",fldiv)

1 Addition
2 Subtraction
3 Multiplication
4 Division
5 Float Division
Choose the option: 1
Enter the first value: 21
Enter the second value: 26
The sum of two values:  47

## 102. Program to find LCM.

In [20]:
def lcm(x, y):  
    if x > y:
        greater = x
    else:
        greater = y
 
    while True:
        if (greater % x == 0) and (greater % y == 0):
            lcm_result = greater
            break
        greater += 1
 
    return lcm_result
 
 
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter second number: "))
 
print("The L.C.M. of", num1, "and", num2, "is", lcm(num1, num2))

Enter the first number: 23
Enter second number: 34
The L.C.M. of 23 and 34 is 782

## 103. Program to check whether a string is palindrome.

In [21]:
my_str = input("Enter the string: ")
# make it suitable for caseless comparison
my_str = my_str.casefold()
# reverse the string
rev_str = reversed(my_str)
# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

Enter the string: Sandipta
The string is not a palindrome.

## 104. Program to sort words in Alphabetic order.

In [22]:
a = input("Enter the string: ")
x = sorted(a)
print(x)

Enter the string: sandipta
['a', 'a', 'd', 'i', 'n', 'p', 's', 't']

## 105. Program to count the number of each vowel.

In [23]:
string = input("Enter string:")
vowels = 0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are: ")
print(vowels)

Enter string:Sandipta
Number of vowels are:
3

## 106. Write a Python program to print alphabet pattern 'A'.

In [24]:
str1 = ""
for row in range(7):
    for col in range(5):
        if (col == 0 or col == 4) or ((row == 0 or row == 3) and (col>0 and col<4)):
            str1 = str1+"*"
        else:
            str1 = str1+" "
    str1 = str1+"\n"
print(str1)

*****
*   *
*   *
*****
*   *
*   *
*   *

## 107. Write a Python program to construct the following pattern, using a nested loop number.

In [ ]:
## Done.

## 108. Accept a character from the user and check for the following and display appropriate messages: 
## a. Is the character a vowel or consonant? 
## b. Is the character in uppercase or lowercase? 
## c. Does the character occur in the string “Data Science” and if so at what position?

## a.

In [16]:
x = input("Enter the character: ")
for i in x:
    if(i == 'a' or i == 'e' or i =='i' or i == 'o' or i == 'u' or i == 'A' or i == 'E' or i =='I' or i == 'O' or i == 'U'):
        print(i,"character is vowel.")
    else:
        print(i,"character is constant.")

Enter the character: n
n character is constant.

## b.

In [17]:
x = input("Enter the character: ")
if x.lower() == x:
    print(x,"is the lower case character.")
else:
    print(x,"is the upper case character.")

Enter the character: n
n is the lower case character.

## c.

In [19]:
x = "Data Science"
y = 'a' in x
print(y)
print(x.index('a',0,5))

True
1

## 109.  Write a function to add two numbers.

In [29]:
a = int(input("Enter the first value: "))
b = int(input("Enter the second value: "))
def sum1(a,b):
    return a+b
print("The sum of two number is: ",sum1(a,b))

Enter the first value: 23
Enter the second value: 34
The sum of two number is:  57

## 110. Write a function to calculate the average of two numbers.

In [30]:
x = int(input("Enter the first value: "))
y = int(input("Enter the second number: "))
def avg(x,y):
    return (x+y)/2
print("The average is: ",avg(x,y))

Enter the first value: 21
Enter the second number: 22
The average is:  21.5

## 111. Write a function to calculate the square of sum of two numbers.

In [32]:
x = int(input("Enter the first value: "))
y = int(input("Enter the second number: "))
def sqr(x,y):
    return (x+y)*(x+y)
print("The average is: ",sqr(x,y))

Enter the first value: 23
Enter the second number: 34
The average is:  3249

## 112. Write a function to check whether the number is in the range 50 to 100.

In [34]:
m = int(input("Enter the number: "))
def test_range(n):
    if n in range(50,100):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(m)

Enter the number: 21
The number is outside the given range.

## 113. Write a program to shift inputed data by two bits to left.

## 114. Write a program to find the entered year is a leap year or not.

In [20]:
year = int(input("Enter a year: "))  
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))  
        else:  
            print("{0} is not a leap year".format(year))  
    else:  
        print("{0} is a leap year".format(year))  
else:  
    print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

## 115. Write a program to sort the given string in descending order.

## 116. Write a program to sort the given string in ascending order.

## 117. Write a program to sort the list without inbuilt function.

## 118. Write a program to show the use of all comparison operators.

## 119. Write a Program to show the use of all logical operators.

## 120. Write a Program to find gross Salary.

## 121. Write a program to shift inputed data by two bits to right.

## 122. Write a program to show the use of various arithmetic operators using if ..elif..else.

## 123. Write a program to find Fibonacci series up to 100.

## 124. Write a program to display sum of series 1+1/2+1/3+…..+1/n.

## 125. Write a program to display series and find sum of 1+3+5+…+n.

## 126. Write a program to show use of bitwise operator.

## 127. Write a program to find square of a number using functions.

In [27]:
n = int(input("Enter the number: "))
def sqnum(n):
    return n**2

print("The square of number is: ",sqnum(n))

Enter the number: 23
The square of number is:  529

## 128. Write a program to swap two numbers using functions.

In [3]:
x = int(input("Enter the first number: "))
y = int(input("Enter the Second number: "))
temp = 0
def swap(x,y,temp):
    x = temp
    y = x
    temp = y

print("Swapping of two numbers are: ",swap(x,y,temp))

Enter the first number: 34
Enter the Second number: 45
Swapping of two numbers are:  None

## 129. Write a program to show use of break statement.

In [4]:
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

## 130. Write a program to evaluate equation y=xn when n is a non-negative integer.

## 131. Write a program to show use of List Comprehension.

## 132. Write a program to show use of lambda function.

## 133. Write a program to calculate factorial of a number using functions.

In [16]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 3
6

## 134. Write a program to show table of a number using functions.

## 135. Given below is the list of marks obtained by a class of 50 students in an annual examination. 43 65 51 27 79 11 56 61 82 09 25 36 07 49 55 63 74 81 49 37 40 49 16 75 87 91 33 24 58 78 65 56 76 67 45 54 36 63 12 21 73 49 51 19 39 49 68 93 85 59 Write a program to count the number of students belonging to each of following groups of marks: 0-9, 10-19, 20-29,.....,100.

## 136. Write a program to sort a list and then find the median from it.

## 137. Write a program to find the second highest value from the list.

## 138. Write a program to find second smallest value from the list.

## 139. Write a program for removing the duplicate element in the list.

## 140. Write a program to evaluate the series 1/(1-x)=1+x+x2+x3+x4+…+xn.

## 141. Write a program to show use of continue statement.

## 142. Take three list from user first list is of gender second list of height and third list of weight for 15 students and then perform following things:
## a. Calculate number of male and female 
## b. Find out students with gender=male and height above 5 feet. 
## c. Find out students with gender =male, height >=5 feet and weight above 70 kg 5. Find out students with gender = female, height >=4.8 feet.

In [1]:
# creating an empty list 
lst1 = [] 
lst2 = [] 
lst3 = [] 

# number of elemetns as input 
str1 = (input("Enter number of elements : ")) 
str2 = (input("Enter number of elements : ")) 
str3 = int(input("Enter number of elements : "))

# iterating till the range 
for i in range(0, str1): 
    ele = int(input()) 
  
    lst1.append(ele) # adding the element 
      
print("The list of user which contain gender: ", lst1) 

# iterating till the range 
for i in range(0, str2): 
    ele = int(input()) 
  
    lst2.append(ele) # adding the element 
      
print("The list of user which contain gender: ", lst2)

# iterating till the range 
for i in range(0, str3): 
    ele = int(input()) 
  
    lst3.append(ele) # adding the element 
      
print("The list of user which contain gender: ", lst3)

Enter number of elements : 15
Enter number of elements : 15
Enter number of elements : 15

TypeError: 'str' object cannot be interpreted as an integer

## 143. Write a program to read a sentence from the user in any case and convert it into upper case.

In [19]:
print("Enter 'x' for exit.");
string = input("Enter any string to convert in uppercase: ");
if string == 'x':
    exit();
else:
    string_in_uppercase = string.upper();
    print("\nString in Uppercase =",string_in_uppercase);

Enter 'x' for exit.
Enter any string to convert in uppercase: Sandipta

String in Uppercase = SANDIPTA

## 144. Write a program to read a sentence from the user in any case and convert it into lower case.

In [20]:
print("Enter 'x' for exit.");
string = input("Enter any string to convert in uppercase: ");
if string == 'x':
    exit();
else:
    string_in_lowercase = string.lower();
    print("\nString in Uppercase =",string_in_lowercase);

Enter 'x' for exit.
Enter any string to convert in uppercase: SANDIPTA

String in Uppercase = sandipta

## 145. Program to convert days to months.

In [9]:
print("1 30")
print("2 31")

m = int(input("Enter the choice from the given option: "))
n = int(input("Enter the number of days: "))

mth = 0

if (m == 1):
    mth = n/30
    print("The number of months are: ",mth)
else:
    mth = n/31
    print("The number of months are: ",mth)

1 30
2 31
Enter the choice from the given option: 1
Enter the number of days: 2334
The number of months are:  77.8

## 146. A computer manufacturing company has the following monthly compensation policy to their salespersons: Minimum base salary : 1500.00 Bonus for every computer sold : 200.00 Commission on the total monthly sales : 2 per cent Since the prices of computers are changing, the sales price of each computer is fixed at the beginning of every month.

## 147. Write a program to show the use of multiple for loop.

In [10]:
i = 1
j = 4
for row in range(0,6):
    for col in range(0,6):
        if row == 0 or row == 5:
            print("*",end="")
        elif row == i and col == j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

******
    *
   *
  *
 *
******

## 148. Write a program to show the use of if elif and else statement.

In [12]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the second number: "))
x3 = int(input("Enter the third number: "))

if (x1 > x2 and x1 >x3):
    print("The first number is greater.")
elif (x2 > x3 and x2 > x1):
    print("The second number is greater.")
else:
    print("The third number is greater.")

Enter the first number: 23
Enter the second number: 34
Enter the third number: 44
The third number is greater.

## 149. Write a program to show the use of if else statement.

In [13]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the second number: "))

if (x1>x2):
    print("The first number is greater.")
else:
    print("The second number is greater.")

Enter the first number: 21
Enter the second number: 22
The second number is greater.

## 150. Write a program to show the use of if statement.

In [14]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the second number: "))

if (x1>x2):
    print("The first number is greater.")

print("The second number is greater.")

Enter the first number: 23
Enter the second number: 33
The second number is greater.

## 151. Write a program to evaluate the equation s=sqrt(a()+b()) using functions(Where a() and b() are function which perform some task ).

## 152. Write a program to show use of functions with and without arguments.

## 153. Write a program to take a sentence from the user and then find count of elements in the sentence. (hint: that is calculate how many alphabets how many whitespaces etc.are present).

In [2]:
str1 = input("Enter any sentence according to yourself: ")
print ("The original string is : " +  str1) 
  
# using split() 
# to count words in string 
res = len(str1.split()) 
  
# printing result 
print ("The number of words in string are : " +  str(res))

Enter any sentence according to yourself: My name is Sandipta Subir Khare
The original string is : My name is Sandipta Subir Khare
The number of words in string are : 6

## 154. Write a program to take 5 names in the list and sort that list in ascending and descending orders and store the output in two different list.

In [ ]:
lst = []
str1 = input("Enter the values: ")

## 155. Write a program to illustrate various inbuilt functions in Dictionaries.

## 156. Write a program to illustrate various inbuilt functions in Sets.

## 157. Write a program to illustrate various inbuilt functions in Strings.

## 158. Write a program to illustrate various inbuilt functions in Tuples.

## 159. Write a program to illustrate various inbuilt functions in Lists.

## 160. Write a program to copy one string into another and count the number of characters copied.

## 161. Write a program to identify the profit and loss in an organization assume your own suitable data.

## 162. Write a program which take a string from the user and decrypt it using shift by 3 method (hint: if user enters the value C it should be encrypted as A and so on.)

In [15]:
n = str(input("Enter the character: "))
z = []
s = ''
q = ''
t = []
for i in range(len(n)):
    z.append(chr(ord(n[i])+3))
    s+=str(z[i])
print(s)

for i in range(len(s)):
    t.append(chr(ord(s[i])-3))
    q+=str(t[i])
print(q)

Enter the character: ABCD
DEFG
ABCD

In [21]:
order  = int(input("Enter the order: "))
c = ord("A")
d = 1
for i in range(order,0,-1):
    for j in range(i):
        print(" ",end=" ")
    for k in range(0,d):
        print(chr(c-k),end=" ")
    d = d+1
    c = c+d
    print()

Enter the order: 6
            A
          C B
        F E D
      J I H G
    O N M L K
  U T S R Q P

## 163. Write a program for above pattern.

In [26]:
n = int(input())
count = count1 = k = 0
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
        count = count + 1
    while(k != 2*i-1):
        if (count <= n-1):
            print(i+k, end= " ")
            count = count+1
        else:
            count1 = count1+1
            print((i+k-2*count1),end = " ")
        k = k + 1
    count1 = count = k = 0

    print()

5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

## 164. Write a program for above pattern.

In [27]:
n = int(input("Enter the number of rows: "))
incr = 1
val = 65
for i in range(0, n):
    for j in range(0, incr):
        ch = chr(val)
        print(ch, end=" ")
        val = val + 1
    incr = incr + 2
    print()

Enter the number of rows: 5
A
B C D
E F G H I
J K L M N O P
Q R S T U V W X Y

## 165. Write a program for above pattern.

In [28]:
n = int(input("Enter the number of rows: "))
num = 1
count = 0
decr = 8
for i in range(0, n):
    for k in range(0, decr):
        print(end=" ")
    for j in range(0, i):
        count = count + 1
    num = count
    temp = num
    for j in range(0, i):
        print(num, end=" ")
        num = num - 1
    print()
    num = temp
    decr = decr - 2

Enter the number of rows: 5

      1
    3 2
  6 5 4
10 9 8 7

## 166. Write a program for above pattern.

In [32]:
num = 1
incr = 1
n = int(input("Enter the number of rows: "))
for i in range(0, n):
    for j in range(0, incr):
        print(num, end=" ")
        num = num + 1
    print()
    incr = incr + 1

Enter the number of rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## 167. Write a program for above pattern.

In [33]:
n = int(input("Enter the number of rows: "))
num = 1
for i in range(0, n):
    for j in range(n, i, -1):
        print(num, end=" ")
        num = num + 1
    print()
    num = 1

Enter the number of rows: 6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 168. Write a program for above pattern.

In [34]:
n = int(input("Enter the number of rows: "))

for i in range(0,n):
    for j in range(0,n-i):
        print("*", end=" ")
    print("\n")

Enter the number of rows: 5
* * * * *

* * * *

* * *

* *

*

## 169. Write a program for above pattern.

In [35]:
val = 65
n = int(input("Enter the number of rows: "))
for i in range(0, n):
    for j in range(0, i+1):
        ch = chr(val)
        print(ch, end=" ")
    val = val + 1
    print()

Enter the number of rows: 7
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G

## 170. Write a program for above pattern.

In [36]:
val = 65
n = int(input("Enter the number of rows: "))
for i in range(0, n):
    for j in range(0, i+1):
        ch = chr(val)
        print(ch, end=" ")
        val = val + 1
    print()

Enter the number of rows: 6
A
B C
D E F
G H I J
K L M N O
P Q R S T U

## 171. Write a program for above pattern.

In [37]:
num = 1
incr = 1
n = int(input("Enter the number of rows: "))
for i in range(0, n):
    for j in range(0, incr):
        print(num, end=" ")
        num = num + 1
    print()
    incr = incr + 1

Enter the number of rows: 6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

## 172. Write a program for above pattern.

In [41]:
n = int(input("Enter the number of rows: "))
k = 16
tim = 1
for i in range(0, n):
    for j in range(0, k):
        print(end=" ")
    k = k - 4
    for j in range(0, tim):
        print("* ", end="")
    tim = tim + 2
    print()

Enter the number of rows: 5
                *
            * * *
        * * * * *
    * * * * * * *
* * * * * * * * *

## 173. Write a program for above pattern.

In [42]:
num=int(input("Enter number of rows: "))
for i in range(1,num+1):
    print(" "*(num-i)+"*"*i)

Enter number of rows: 5
    *
   **
  ***
 ****
*****

## 174. Write a program for above pattern.

In [2]:
n=int(input("Enter the number of rows: "))
for i in range(n,-1,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number of rows: 6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

## 175. Write a program for above pattern

In [5]:
n = int(input("Enter the number of character: "))
a=""
for row in range(0,n):
    for col in range(0,9):
        if row==4 or row+col==4 or col-row==4:
            a+="*"
        else:
            a+=" "
    a+="\n"
print(a)

Enter the number of character: 6
    *
   * *
  *   *
 *     *
*********

## 176. Write a program for above pattern.

## 177.

In [42]:
inp = int(input("Enter the number of row: "))
for i in range(inp+1):
    for j in range(i):
        print(j+1,end="")
    for j in range(inp,i,-1):
        print("  ",end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

Enter the number of row: 10

1                  1
12                21
123              321
1234            4321
12345          54321
123456        654321
1234567      7654321
12345678    87654321
123456789  987654321
1234567891010987654321

## 178.

## 179.

## 180.

## 181.

## 182.

## 183.

## 184.

## 185.

## 186.

## 187.

## 188.

## 189.

## 190.

## 191.

## 192.

## 193.

## 194.

## 195.

## 196.

## 197.

## 198.

## 199.

## 200.