## Q.1)Write a python program to create a new csv file that holds the data about 5 students and their marks: Roll no of student, name and marks scored in Mathematics, Science and English.

## reference:-
## df.sort_values(by=['Percentage'])## Sort the data as per Percentage column
## df
## df.Percentage.sort_values() 01st Way
## df['Percentage'].sort_values() 02nd Way
## type(df['Percentage'].sort_values())
## df['Percentage'].sort_values(ascending=False)## 03rd Way
## df['Percentage']
## df.sort_values('Percentage') ## 04th Way(needful as per the question.)
## df.sort_values('Percentage',ascending=False)
## df.Percentage.order() ## only warning you will receive as order is deprecated meaning it will not be used in the later version.
## df.sort('Percentage') ## similar kind of error message you will receive as above for 'Sort'.
## df.sort_values(['Total_Marks','Percentage']) ## In Newer Version we can sort data using multiple columns.

In [12]:
# importing pandas library
import pandas as pd  
   
# list of name, roll_no, Maths, Science and English Marks 
name = ["CHINMAY", "GAYATRI", "SANKET", "RAM", "DHARMIL"] 
roll_no = [1,2,3,4,5] 
Maths = [90, 40, 80, 98,88] 
Science=[90,48,56,90,88]
English=[48,56,89,78,56]
   
# dictionary of lists  
d1 = {'name': name, 'roll_no': roll_no, 'Maths': Maths,'Science':Science,'English':English}  
     
df = pd.DataFrame(d1) 
  
# saving the dataframe 
df.to_csv('data.csv',mode='w',index=False)

## Q.2)Write a python to program to add to each record in the above csv file, the total marks and the percentage secured by each student. Then print its contents sorted in descending order of percentage.

In [15]:
Total_Marks=[228,144,225,266,232] ## Append Total_Marks column
df['Total_Marks']=Total_Marks
Percentage=[57,36,56.25,66.50,58]## Append Percentage column
df['Percentage']=Percentage
##df.sort_values(['Percentage'],ascending=False)
df1=df
df1.to_csv('data.csv',mode='w',index=False)
df.sort_values(['Percentage'],ascending=False)

      name  roll_no  Maths  Science  English  Total_Marks  Percentage
3      RAM        4     98       90       78          266       66.50
4  DHARMIL        5     88       88       56          232       58.00
0  CHINMAY        1     90       90       48          228       57.00
2   SANKET        3     80       56       89          225       56.25
1  GAYATRI        2     40       48       56          144       36.00

## Q.3)Write a program to create a file that holds the mailing addresses of all the students in your class. Using this file, determine the different number of students using each of the different domains.

In [24]:
import pandas as pd

data ={'name':['CHINMAY','RAM','SANKET','DHARMIL','GAYATRI'],
'email_id':['CHINMAY@gmail.com','RAM@yahoo.com','SANKET@gmail.com','DHARMIL@yahoo.com','GAYATRI@gmail.com']
      }
df2=pd.DataFrame(data)
df2.to_csv('data1.csv',mode='w',index=False)
email_lst=[]
for each in df2['email_id']:
    email_lst.append(each)
split_lst=[]
for each in email_lst:
    split_lst.append(each.split('@')[1])
print(split_lst)

['gmail.com', 'yahoo.com', 'gmail.com', 'yahoo.com', 'gmail.com']

## Q.4) Create a file that contains the names of all the students in your class and the month in which their birthday falls. Write a program to find the names of all students whose birthday falls in the month of October.

In [7]:
import pandas as pd

data ={'name':['CHINMAY','RAM','SANKET','DHARMIL','GAYATRI','SAM'],
'Birthday_month':['OCTOBER','MARCH','NOVEMBER','MARCH','JULY','OCTOBER']
      }
df3=pd.DataFrame(data)
df3.to_csv('data2.csv',mode='w',index=False)

filter_birth=df3['Birthday_month']=='OCTOBER'
name_birth=df3.where(filter_birth)
name_birth.dropna()

      name Birthday_month
0  CHINMAY        OCTOBER
5      SAM        OCTOBER

## Q.5) Write a program to create a list of lists. The element list should be factors of the indices of the list.
## Sample input: 10 
## Sample output: [[0], [1], [1, 2], [1, 3], [1, 2, 4], [1, 5], [1, 2, 3, 6], [1, 7], [1, 2, 4, 8], [1, 3, 9], [1, 2, 5, 10]]

In [4]:
index=int(input("Enter the index for which you want to perform:-"))
final_lst = []
for each in range(1,index+1):
    lst=[]
    for num in range(1,each+1):
        if each%num==0:
            lst.append(num)
    final_lst.append(lst)
final_lst.insert(0,[0])
print(final_lst , end ='')

Enter the index for which you want to perform:-10
[[0], [1], [1, 2], [1, 3], [1, 2, 4], [1, 5], [1, 2, 3, 6], [1, 7], [1, 2, 4, 8], [1, 3, 9], [1, 2, 5, 10]]

## Q.6) Develop a Phone-Book using dictionaries and search for a particular name then display it.

In [16]:
my_dict = {
    "Singer": {
        "name": "CHINMAY", 
        "address": "THANE", 
        "phone": "8976535903"
    }, 
    "Programmer": {
        "name": "SANKET", 
        "address": "Mira road", 
        "phone": "9322283381"
    },
    "Banker": {
        "name": "GAYATRI",
        "address": "MULUND",
        "phone": "8108302003"
    }
}
 
def fetch_details(name):
    print('What we know about {one}'.format(one=name))
    for key, value in my_dict[name].items():
        print(f'{key}: {value}')

        
        
fetch_details('Singer')

What we know about Singer
name: CHINMAY
address: THANE
phone: 8976535903

## Q.7)Write a Python program to combine two dictionary adding values for common keys.

In [6]:
# Python program to combine two dictionary 
# adding values for common keys 
# initializing two dictionaries 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,'d':400}  
# adding the values with common key 
for key in d2: 
    if key in d1: 
        d2[key] = d2[key] + d1[key] 
    else: 
        pass
d2.update(d1) 
print(d2)

{'a': 100, 'b': 200, 'd': 400, 'c': 300}

## Q.8)Write a program to display all the unique values in the given list of dictionaries:
## Sample Data: [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

In [8]:
lst = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Original List: ",lst)
s = set()
for dict in lst:
    for val in dict.values():
        s.add(val)
        unique_values=s
print("The unique values are:",unique_values)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
The unique values are: {'S001', 'S002', 'S007', 'S005', 'S009'}

## Q.9)Create a program that counts the total number of words, total number of punctuation marks and displays the most frequently occurring word from the following paragraph:
## Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964, in Albuquerque, New Mexico. Bezos had an early love of computers and studied computer science and electrical engineering at Princeton University. After graduation he worked on Wall Street, and in 1990 he became the youngest senior vice president at the investment firm D.E. Shaw. Four years later, he quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the internet's biggest success stories. In 2013, Bezos purchased The Washington Post in a 
##  250 million dollars deal. 
## His successful business ventures have made him one of the richest people in the world!

In [1]:
# Python program to find the k most frequent words 
# from data set 
from collections import Counter 

data_set = "Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964, in Albuquerque, New Mexico. Bezos had an early love of computers and studied computer science and electrical engineering at Princeton University. After graduation he worked on Wall Street, and in 1990 he became the youngest senior vice president at the investment firm D.E. Shaw. Four years later, he quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the internet's biggest success stories. In 2013, Bezos purchased The Washington Post in a $250 million deal. His successful business ventures have made him one of the richest people in the world! "
# split() returns list of all the words in the string 
split_it = data_set.split() 

# Pass the split_it list to instance of Counter class. 
Counter = Counter(split_it) 

# most_common() produces k frequently encountered 
# input values and their respective counts. 
most_occur = Counter.most_common(1) 
print(most_occur)

[('the', 5)]

## Total Number of Punctuations.

In [11]:
import string  
cnt_punctuation=0
Sentence = "Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964, in Albuquerque, New Mexico. Bezos had an early love of computers and studied computer science and electrical engineering at Princeton University. After graduation he worked on Wall Street, and in 1990 he became the youngest senior vice president at the investment firm D.E. Shaw. Four years later, he quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the internet's biggest success stories. In 2013, Bezos purchased The Washington Post in a $250 million deal. His successful business ventures have made him one of the richest people in the world! "  
for i in Sentence:  
    if i in string.punctuation: 
        cnt_punctuation+=1
print("Punctuation: " , cnt_punctuation)

Punctuation:  19

## Total number of Words.

In [34]:
test_string = "Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964, in Albuquerque, New Mexico. Bezos had an early love of computers and studied computer science and electrical engineering at Princeton University. After graduation he worked on Wall Street, and in 1990 he became the youngest senior vice president at the investment firm D.E. Shaw. Four years later, he quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the internet's biggest success stories. In 2013, Bezos purchased The Washington Post in a $250 million deal. His successful business ventures have made him one of the richest people in the world!"  
  
# printing original string 
#print ("The original string is : " +  test_string) 
  
# using split() 
# to count words in string 
res = test_string.split(' ')
res.remove('12,')
res.remove('1964,')
res.remove('1990')
res.remove('2013,')
res.remove('$250')
print(len(res))
##print(res) 
# printing result 
#print ("The number of words in string are : " +  str(res))

101

## Frequency occurence

In [23]:
non_duplicate=[]
for each in res:
    if each not in non_duplicate:
        non_duplicate.append(each)
print(non_duplicate)

#max(set(res) , key = res.count
for each in range(len(non_duplicate)):
    print('{} : {}'.format(non_duplicate[each] , res.count(non_duplicate[each])))

['Entrepreneur', 'and', 'e-commerce', 'pioneer', 'Jeff', 'Bezos', 'was', 'born', 'on', 'January', 'in', 'Albuquerque,', 'New', 'Mexico.', 'had', 'an', 'early', 'love', 'of', 'computers', 'studied', 'computer', 'science', 'electrical', 'engineering', 'at', 'Princeton', 'University.', 'After', 'graduation', 'he', 'worked', 'Wall', 'Street,', 'became', 'the', 'youngest', 'senior', 'vice', 'president', 'investment', 'firm', 'D.E.', 'Shaw.', 'Four', 'years', 'later,', 'quit', 'his', 'lucrative', 'job', 'to', 'open', 'Amazon.com,', 'a', 'virtual', 'bookstore', 'that', 'one', "internet's", 'biggest', 'success', 'stories.', 'In', 'purchased', 'The', 'Washington', 'Post', 'million', 'deal.', 'His', 'successful', 'business', 'ventures', 'have', 'made', 'him', 'richest', 'people', 'world!']
Entrepreneur : 1
and : 4
e-commerce : 1
pioneer : 1
Jeff : 1
Bezos : 3
was : 1
born : 1
on : 2
January : 1
in : 4
Albuquerque, : 1
New : 1
Mexico. : 1
had : 1
an : 1
early : 1
love : 1
of : 3
computers : 1
studied : 1
computer : 1
science : 1
electrical : 1
engineering : 1
at : 2
Princeton : 1
University. : 1
After : 1
graduation : 1
he : 3
worked : 1
Wall : 1
Street, : 1
became : 2
the : 5
youngest : 1
senior : 1
vice : 1
president : 1
investment : 1
firm : 1
D.E. : 1
Shaw. : 1
Four : 1
years : 1
later, : 1
quit : 1
his : 1
lucrative : 1
job : 1
to : 1
open : 1
Amazon.com, : 1
a : 2
virtual : 1
bookstore : 1
that : 1
one : 2
internet's : 1
biggest : 1
success : 1
stories. : 1
In : 1
purchased : 1
The : 1
Washington : 1
Post : 1
million : 1
deal. : 1
His : 1
successful : 1
business : 1
ventures : 1
have : 1
made : 1
him : 1
richest : 1
people : 1
world! : 1

## Q.10)From the above paragraph, extract all the years mentioned.

In [7]:
s ="Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964, in Albuquerque, New Mexico. Bezos had an early love of computers and studied computer science and electrical engineering at Princeton University. After graduation he worked on Wall Street, and in 1990 he became the youngest senior vice president at the investment firm D.E. Shaw. Four years later, he quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the internet's biggest success stories. In 2013, Bezos purchased The Washington Post in a $250 million deal. His successful business ventures have made him one of the richest people in the world!"
lst=s.split(' ')
lst2=[]
for each in lst:
    lst2.append(each.replace(',',''))
    ##print(type(each))
##print(lst2)
num_list=[]
for each in lst2:
    if each.isdigit() and (len(each)==4):
        num_list.append(each)
print("The three years mentioned in the above paragraph:",num_list)

The three years mentioned in the above paragraph: ['1964', '1990', '2013']