In [1]:
print("Hello, World!")

Hello, World!

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-3-a314491c53bb>, line 2)

In [4]:
if 5 > 2:
    print("Five is greater than two!")  
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:
if 5 > 2:
    print("Five is greater than two!") 
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-5-53bf3740685b>, line 3)

In [6]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [7]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [8]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [9]:
print("Hello, World!") #This is a comment.

Hello, World!

In [10]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [11]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [12]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [13]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [14]:
x = 4
x = "Sally"
print(x)

Sally

In [16]:
type(x)

str

In [17]:
x = 4
type(x)

int

In [18]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [19]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [20]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-20-2e3489f6a2b6>, line 2)

In [21]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [22]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

In [23]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [24]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [25]:
x = 5
y = 10
print(x + y)

15

In [26]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [28]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [29]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [30]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [31]:
x = 5
print(type(x))

<class 'int'>

In [32]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [33]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [34]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [35]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [36]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [37]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [38]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [39]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [40]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [41]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [42]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [43]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [44]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [45]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x0000020C8C1FAC48>
<class 'memoryview'>

## Specify the Constructor Functions

In [46]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [47]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [48]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [50]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [52]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [53]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [54]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [55]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [56]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [57]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [58]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [60]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [61]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [62]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x0000020C8C1FAC48>
<class 'memoryview'>

In [63]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [64]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [65]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [66]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [67]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [68]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [69]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(x)

print(x)
print(y)
print(z)

1.0
2
(1+0j)

In [71]:
import random

print(random.randrange(1,10))

4

In [72]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [73]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [74]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [75]:
#You can use double or single quotes:

print("Hello")
print('Hello')

Hello
Hello

In [76]:
a = "Hello"
print(a)

Hello

In [77]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [78]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [79]:
a = "Hello, World!"
print(a[1])

e

In [80]:
b = "Hello, World!"
print(b[2:5])

llo

In [81]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [82]:
a = "Hello, World!"
print(len(a))

13

In [84]:
a = " Hello, World! "
print(a.strip()) ## returns "Hello, World!"

Hello, World!

In [85]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [86]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [87]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [88]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [89]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

In [90]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [91]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [92]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [93]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [94]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [95]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [96]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [97]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [98]:
txt = "We are the so-called "Vikings" from the north."


#You will get an error if you use double quotes inside a string that are surrounded by double quotes:

SyntaxError: invalid syntax (<ipython-input-98-be8fa7733447>, line 1)

In [99]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [100]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [101]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [102]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [103]:
txt = "Hello\rWorld!"
print(txt)

World!

In [104]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [105]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [106]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [107]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [108]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [109]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

In [110]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [111]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [112]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [113]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [114]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [115]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [116]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))
print(txt.encode(encoding="ascii",errors="strict"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

UnicodeEncodeError: 'ascii' codec can't encode character '\xe5' in position 13: ordinal not in range(128)

In [117]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [118]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [119]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

In [120]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [121]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [122]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [123]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [124]:
txt = "Hello, welcome to my world."

x = txt.find("Z")

print(x)

-1

In [125]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [126]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [127]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [128]:
#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John",36)
#empty placeholders:
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [129]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [130]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [131]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [132]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [133]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [134]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [135]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [136]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [137]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [138]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

In [139]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [140]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [141]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [142]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [143]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [144]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [145]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [146]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [147]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [148]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
c = "10km2"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())

True
True
False

## Some Practice On Tuples

In [149]:
tup1=56,

In [150]:
tup1

(56,)

In [151]:
type(tup1)

tuple

In [152]:
tup2 =12,16,15,18

In [153]:
tup2

(12, 16, 15, 18)

In [154]:
type(tup2)

tuple

In [155]:
print(tup2[3])

18

In [156]:
print(tup2[-1])

18

In [157]:
orderItem=(1, "Jeff", "Computer", 75.50, True)

In [159]:
orderItem[2]="Laptop"

TypeError: 'tuple' object does not support item assignment

In [160]:
del orderItem

In [161]:
orderItem

NameError: name 'orderItem' is not defined

In [162]:
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [163]:
t2+(7,)

(4, 5, 6, 7)

In [164]:
t2

(4, 5, 6)

In [165]:
t1=(1,2,3)
t1*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [166]:
t1=(1,2,3,4,5,6)

In [167]:
t1[3]

4

In [168]:
t1[-2]

5

In [169]:
t1[1:3]

(2, 3)

In [170]:
t1[3:]

(4, 5, 6)

In [171]:
5 in t1

True

In [172]:
10 in t1

False

In [173]:
4 not in t1

False

In [174]:
10 not in t1

True

In [175]:
t1=(12,45,43,8,35)
len(t1)

5

In [176]:
t1=(12, 45, 43, 8, 35)
max(t1)

45

In [177]:
t2=('python', 'java', 'C++')
max(t2)

'python'

In [178]:
t2=('python', 'java', 'C++',1,2,3)
max(t2)

TypeError: '>' not supported between instances of 'int' and 'str'

In [179]:
t1=(12,45,43,8,35)
min(t1)

8

In [180]:
t2=('python', 'java', 'C++')
min(t2)

'C++'

In [181]:
names=["Jeff", "Bill", "Steve", "Mohan"]

In [182]:
names

['Jeff', 'Bill', 'Steve', 'Mohan']

In [183]:
type(names)

list

In [184]:
orderItem=[1, "Jeff", "Computer", 75.50, True]

In [185]:
orderItem

[1, 'Jeff', 'Computer', 75.5, True]

In [186]:
type(names)

list

In [187]:
string1 ="Hi there"

In [188]:
string2 ='Hi there'

In [189]:
string3="""Hi there how are u"""

## Sequence operations on strings

In [190]:
"HI"+"There"

'HIThere'

In [191]:
"HI"*2

'HIHI'

In [192]:
string1="Python"

In [193]:
string1[2:6]

'thon'

In [194]:
string1='Python'
string1[-1]+string1[1]

'ny'

In [195]:
str="Python"
str.find("thon")

2

In [196]:
str="Python"
str.replace("th","t")

'Pyton'

In [197]:
str="P,y,t,h,o,n"
str.split(',')

['P', 'y', 't', 'h', 'o', 'n']

In [198]:
str='Python'
str.count('y')

1

In [199]:
str='Python'
str.count('y',1,2)

1

In [200]:
str="Python"
str.upper()

'PYTHON'

In [201]:
str="Python"
max(str)

'y'

In [202]:
str="Python"
min(str)

'P'

In [203]:
str="Python"
str.isalpha()

True