## Edabit program 1

In [3]:
def addition(a, b):
    return a+b
a=3
b=2
addition(3,2)

5

## Edabit program 2

In [5]:
def addition(a):
    ans=a+1
    return ans
a=9
addition(9)

10

## The Farm Problem

In [6]:
def animals(chickens, cows, pigs):
    total=(chickens*2)+(cows*4)+(pigs*4)
    return total
chickens=2
cows=3
pigs=5
animals(2,3,5)

36

## Remainder Problem

In [8]:
def remainder(x, y):
    return x%y
a=1
b=3
remainder(1,3)

1

## minutes to seconds

In [9]:
def convert(minutes):
    ans=minutes*60
    return ans
a=3
convert(3)

180

## Hours to Seconds

In [1]:
def how_many_seconds(hours):
    return hours*3600
hours=24
how_many_seconds(24)

86400

## String to Integer and Vice Versa

In [3]:
def to_int(txt):
	return int(txt)
txt="77"
to_int(txt)

77

In [4]:
def to_str(num):
    return str(num)
num=77
to_str(num)

'77'

## Is the Number Less than or Equal to Zero?

In [5]:
def less_than_or_equal_to_zero(num):
    return num<=0
num=5
less_than_or_equal_to_zero(num)

False

In [6]:
def less_than_or_equal_to_zero(num):
    return num<=0
num=-1
less_than_or_equal_to_zero(num)

True

## Hours and Minutes to Seconds

In [7]:
def convert(hours, minutes):
    return (hours*3600)+(minutes*60)
hours=1
minutes=3
convert(hours,minutes)

3780

## Find Smallest number from the list

In [8]:
def find_smallest_num(lst):
    return min(lst)
lst=[34,15,88,2]
find_smallest_num(lst)

2

## To the Power of _____

In [9]:
def calculate_exponent(num, exp):
    return num**exp
num=5
exp=5
calculate_exponent(num,exp)

3125

## Difference of Max and Min Numbers in List

In [10]:
def difference_max_min(lst):
    return max(lst)-min(lst)
lst=[44, 32, 86, 19]
difference_max_min(lst)

67

## Name Greeting!

In [11]:
def hello_name(name):
    return "Hello"+" "+name+"!" 
name="Ed"
hello_name(name)

'Hello Ed!'

In [3]:
def hello_name(name):
    return "Hello"+name 
name=" Ed!"
hello_name(name)

'Hello Ed!'

In [4]:
def check(lst, el):
    return el in lst
lst=[1,2,3,4,5]
el=3
check(lst,el)

True

## https://edabit.com/challenge/XXJbGFEkrMWCp8yFn

In [2]:
def give_me_something(a):
    return "something {a}".format(a=a)

In [4]:
give_me_something("a")## "something a"

'something a'

In [5]:
give_me_something("is cooking")## "something is cooking")

'something is cooking'

In [6]:
give_me_something(" is cooking")## "something  is cooking")

'something  is cooking'