## Q.1)Write a Python Program to create a Loptionst using custom key-value pair of a dictionary.

Input: test_loptionst = [{â€˜quantâ€™ : 1, â€˜optionsâ€™ : 4, â€˜tradeâ€™ : 6},

             {â€˜quantâ€™ : 10, â€˜optionsâ€™ : 3, â€˜tradeâ€™ : 7},

             {â€˜quantâ€™ : 9, â€˜optionsâ€™ : 4, â€˜tradeâ€™ : 2}], key, value = â€˜quantâ€™, â€˜tradeâ€™
             
 
Output : {1: 6, 10: 7, 9: 2}

In [1]:
## Input given as per the question
test_loptionst = [{'â€˜quantâ€™' : 1, 'â€˜optionsâ€™' : 4, 'â€˜tradeâ€™' : 6},

             {'â€˜quantâ€™' : 10, 'â€˜optionsâ€™' : 3, 'â€˜tradeâ€™' : 7},

             {'â€˜quantâ€™' : 9, 'â€˜optionsâ€™' : 4, 'â€˜tradeâ€™' : 2}]

## to get the values for below keys in each dictionary inside the list input and print output as the custom key value pair.

key, value = 'â€˜quantâ€™', 'â€˜tradeâ€™'

## Initializing the dictionary for getting the desired output
output=dict()

## Actual logic
for sample in test_loptionst:
    output[sample[key]]=sample[value]

## Desired Output
print(output)

{1: 6, 10: 7, 9: 2}

## Q.2)
Write a python program to find number of times every day occurs in a Year

Input: 2019
Output: Monday-52
        Tuesday-53
        Wednesday-52
        Thrusday-52
        Friday-52
        Saturday-52
        Sunday-52

Input: 2024
Output: Monday-53
        Tuesday-53
        Wednesday-52
        Thrusday-52
        Friday-52
        Saturday-52
        Sunday-52

In [2]:
import datetime
import calendar

def days_occur_per_year(year):
    ## creating list for days
    days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
    
    ## Creating a list for all 52 days as their are 52 weeks in a year so each day will occur at least 52 times.
    lst=[52 for i in range(7)]
    
    loc=-1
    day=datetime.datetime(year,month=1,day=1).strftime("%A")
    for i in range(7):
        if day==days[i]:
            loc=i
        
    if calendar.isleap(year):
        lst[loc]+=1
        lst[(loc+1)%7]+=1
    else:
        lst[loc]+=1
            
        
    for i in range(7):
        print(days[i],lst[i])

In [3]:
year=2019
days_occur_per_year(year)

Monday 52
Tuesday 53
Wednesday 52
Thursday 52
Friday 52
Saturday 52
Sunday 52

In [4]:
year=2024
days_occur_per_year(year)

Monday 53
Tuesday 53
Wednesday 52
Thursday 52
Friday 52
Saturday 52
Sunday 52

## Q.3)

## Step 1: Process each text file to csv file.

## Importing the required libraries.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df1=pd.read_csv('C:/Users/Hp/Downloads/Stage 2/05-Aug-2014 (1).txt')

In [7]:
df1.head()

  Scheme Code;Scheme Name;ISIN Div Payout/ISIN Growth;ISIN Div Reinvestment;Net Asset Value;Repurchase Price;Sale Price;Date
0                      Open Ended Schemes ( Income )
1                  Aditya Birla Sun Life Mutual Fund
2  125785;Birla Sun Life Fixed Term Plan - Series...
3  125783;Birla Sun Life Fixed Term Plan - Series...
4  125788;Birla Sun Life Fixed Term Plan - Series...

In [8]:
# storing this dataframe in a csv file
df1.to_csv('05thAug2014.csv', index = None)

In [9]:
df2=pd.read_csv('C:/Users/Hp/Downloads/Stage 2/05-Feb-2021 (1).txt')

In [10]:
# storing this dataframe in a csv file
df2.to_csv('05thFeb2021.csv', index = None)

In [11]:
df3=pd.read_csv('C:/Users/Hp/Downloads/Stage 2/14-Jul-2008 (1).txt',error_bad_lines=False)

b'Skipping line 1042: expected 1 fields, saw 2\n'

In [12]:
# storing this dataframe in a csv file
df3.to_csv('14thJuly2008.csv', index = None)

In [13]:
df4=pd.read_csv('C:/Users/Hp/Downloads/Stage 2/14-Jun-2012 (1).txt',error_bad_lines=False)

b'Skipping line 1035: expected 1 fields, saw 2\n'

In [14]:
# storing this dataframe in a csv file
df4.to_csv('14thJune2012.csv', index = None)

In [15]:
df5=pd.read_csv('C:/Users/Hp/Downloads/Stage 2/25-Jan-2019 (1).txt')

In [16]:
# storing this dataframe in a csv file
df5.to_csv('25thJan2019.csv', index = None)

In [17]:
df6=pd.read_csv('C:/Users/Hp/Downloads/Stage 2/25-Nov-2016 (1).txt')

In [18]:
# storing this dataframe in a csv file
df6.to_csv('25thNov2016.csv', index = None)

## Step 1 Completed

## Step 2: Merge all the data into a single csv with scheme code wise nav (Net Asset Value)   values date wise. So, your csv will have the unique scheme codes on the index and   the columns will contain the date values and subsequent nav values for that particular date for the constituent scheme code.

In [ ]:
import os, glob
import pandas as pd

path = r"C:/Users/Hp/CSV_Quantsapp"

all_files = glob.glob(os.path.join(path))
df_from_each_file = (pd.read_csv(f, sep=',',engine='python') for f in all_files)
df_merged = pd.concat(df_from_each_file,ignore_index=True)
df_merged.to_csv("Finalfiles.csv")