In [1]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/births.csv')
df.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [2]:
df[(df['day']==df.index.astype('float64')) & (df['gender']==df.index.astype('str'))]

Empty DataFrame
Columns: [year, month, day, gender, births]
Index: []

In [3]:
def check(s1, s2):
     
    # the sorted strings are checked
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")        
         
# driver code 
s1 ="act"
s2 ="cat"
check(s1, s2)

The strings are anagrams.

In [4]:
df.groupby('year')['births'].sum().reset_index()

    year   births
0   1969  3600206
1   1970  3737800
2   1971  3563548
3   1972  3266235
4   1973  3146125
5   1974  3170631
6   1975  3153556
7   1976  3176476
8   1977  3332159
9   1978  3338300
10  1979  3499795
11  1980  3617981
12  1981  3635515
13  1982  3685457
14  1983  3642821
15  1984  3673568
16  1985  3765064
17  1986  3760695
18  1987  3813216
19  1988  3913793
20  1989  4045693
21  1990  4162917
22  1991  4115342
23  1992  4069428
24  1993  4004523
25  1994  3956925
26  1995  3903012
27  1996  3894874
28  1997  3884329
29  1998  3945192
30  1999  3963465
31  2000  4063823
32  2001  4031531
33  2002  4027376
34  2003  4096092
35  2004  4118907
36  2005  4145619
37  2006  4273225
38  2007  4324008
39  2008  4255156

In [5]:
import tensorflow as tf

In [6]:
tf.__version__

'2.1.0'

In [8]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [9]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [12]:
import torch

# Create a Torch tensor
t = torch.Tensor([[1, 2, 3], [4, 5, 6]])
t

tensor([[1., 2., 3.],
        [4., 5., 6.]])

In [14]:
t_1=t+1

In [17]:
##np.imshow(t_1)